body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #eff2f1; 
  color: #2f2f2f; 
}
h1{
  font-size: 40px;
  text-align: center;
}

header {
  background-color: #3B5D50; 
  color: #d3d3d3; 
  padding: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #FFFFFF;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  color: #FFFFFF; 
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #FFFFFF;
}

.nav-links a.active {
  color: #FFFFFF;
  font-weight: bold;
  border-bottom: 4px solid #ffc107;
}

.hamburger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #d3d3d3;
  border-radius: 5px;
}


section {
  min-height: 100vh; 
}
#hero{
  min-height: 60vh;
}
#hero {
  position: relative;
  padding: 100px 20px 40px; 
  background:#3B5D50; 
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-text {
  max-width: 600px;
}

.hero-image {
  position: relative;
  transition: transform 0.5s ease;
}

.hero-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4px solid #d3d3d3; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, box-shadow 0.5s ease, filter 0.5s ease;
}

.hero-image:hover img {
  transform: scale(1.5);
  box-shadow: 0 0 20px 4px rgba(211, 211, 211, 0.7); 
  filter: brightness(1);
}

.top-right {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-right .btn {
  color: white;
  padding: 8px 8px;
  text-decoration: none;
  border: 2px solid #ffffff80;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.top-right .btn img {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  color: white;
}
.top-right .btn:hover {
  border: 2px solid #FFF;
  transition: border 0.3s ease;

}

.social-links img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.2);
  filter: brightness(1.2); 
}

.social-links a {
  font-size: 34px; 
  margin: 0 10px; 
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links a i {
  color: inherit; 
}






.hero-skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-wheel {
  display: flex;
  width: 100px;
  height: 300px;
  margin-top: 170px;
  border-radius: 50%;
}



.skill-badge {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: rotate(calc(var(--i) * 60deg)) translate(130px) rotate(calc(var(--i) * -60deg));
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-badge .background {
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    #4c93af calc(var(--progress) * 1%),
    #ddd calc(var(--progress) * 1%)
  );
  border-radius: 50%;
  z-index: -1;
}

.skill-badge img {
  position: relative;
  width: 80%;
  height: 80%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}








.btn {
  /* background-color: #d3d3d3; */
  color: white;
  padding: 11px 23px;
  text-decoration: none;
  border: 2px solid #ffffff80;
  border-radius: 25px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.btn:hover {
  border: 2px solid #FFF;
  transition: border 0.3s ease;

}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

section {
  padding: 60px 20px;
}

#projects .project-grid {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#projects h2{
  color: #FFFFFF;
}
#projects p{
  color: #FFFFFF;
}
.project-name-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: #FFFFFF;
}

.project-name-link a {
  color: #FFFFFF; 
  cursor: pointer;
  text-decoration: none; 
  font-weight: bold;
  font-size: 20px;
}
.project-item {
  background-color: #3B5D55; 
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, background-color 0.3s;
  width: 100%;
}

.project-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
}

.project-images img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  z-index: 1;
}

.project-images img:hover {
  transform: scale(1.7);
  z-index: 10;
}

.project-images:hover img:not(:hover) {
  filter: brightness(0.5);
  opacity: 0.7;
  transition: filter 0.3s ease, opacity 0.3s ease;
}

#experience .experience-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

#experience .experience-item {
  background-color: #3B5D50; 
  border: 1px solid #444;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: transform 0.3s, background-color 0.3s;
}

#experience .experience-item:hover {
  transform: scale(1.05);
  background-color: #3B5D55;
}

#experience .company-logo {
  width: 250px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 15px;
}

#experience h3 {
  color: #d3d3d3;
  margin: 10px 0 5px;
}

#experience h4 {
  color: #d3d3d3; 
  margin: 5px 0;
}

#experience p {
  color: #ccc;
  margin: 10px 0;
}

#skills .skills-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
}

#skills .skills-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3B5D5D;
  color: #d3d3d3;
  padding: 15px;
  margin: 10px;
  border-radius: 20px;
  font-weight: 600;
  text-align: center;
  width: 121px;
  transition: transform 0.3s, background-color 0.3s;

}

#skills .skills-list li:hover {
  transform: scale(1.05);

  box-shadow: 0 0 20px 4px rgba(3, 83, 31, 0.52); 
  filter: brightness(1);
  transition: transform 0.3s ;
}

#skills .skills-list img {
  margin-bottom: 10px; 
  border-radius: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

#skills .container div{
  color: white;
}

form input,
form textarea {
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  background-color: #3B5D50;
  color: white;
}

form button {
  background-color: #3B5D50; 
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #09521d;
}

footer {
  background-color: #3B5D50; 
  color: white;
  text-align: center;
  padding: 15px;
}
.project-grid {
  margin-right: 33px; 
}


/* Responsive CSS */


@media (max-width: 1024px) {
  nav {
    width: 100%; 
    flex-wrap: wrap; 
  }

  .nav-links {
    flex-direction: column; 
    align-items: flex-start; 
    gap: 10px;
  }

  .hero-content {
    flex-direction: column; 
    text-align: center;
  }

  .hero-image img {
    width: 120px; 
    height: 120px;
  }

  .hero-text {
    padding: 20px; 
  }
  .project-grid {
    margin-right: 33px; 
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
  }

  .hamburger {
    display: flex; 
  }

  .nav-links {
    display: none; 
    flex-direction: column; 
    gap: 15px;
    background-color: #3B5D50;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex; 
  }

  .hero-image img {
    width: 100px; 
    height: 100px;
  }

  .project-images {
    grid-template-columns: repeat(2, 1fr); 
  }

  #skills .skills-list {
    justify-content: center; 
  }

  #skills .skills-list li {
    width: 100px; 
  }
  

  .project-grid {
    margin-right: 33px; 
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.8rem; 
  }

  nav {
    width: 100%;
  }

  .brand {
    font-size: 1.2rem;
  }

  .nav-links {
    font-size: 0.9rem; 
  }

  .hero-image img {
    width: 80px; 
    height: 80px;
  }

  .project-images {
    grid-template-columns: 1fr; 
  }

  .skill-badge {
    width: 60px; 
    height: 60px;
  }

  footer {
    font-size: 0.8rem;
    padding: 10px;
  }

  form input, form textarea {
    font-size: 0.9rem;
  }

  .btn {
    font-size: 0.9rem; 
  }
}


